/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:'';content:none}table{border-collapse:collapse;border-spacing:0}
/* ==========================================================================
   Mohole UI
   ========================================================================== */

/* Tipografia
   ========================================================================== */
body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans;
  font-weight: 300;
  color: #333;
}
p {
  line-height: 22px;
  margin-bottom: 15px;
}
a {
  color: #0077b3;
}
a:hover {
  color: #009eee;
  text-decoration: none;
}
li {
  list-style: square inside;
  margin: 7px 3px;
}

/* Layout
     ========================================================================== */
.contenitore {
  margin: 0 auto;
  width: 960px;
  padding: 20px 0;
}

/* Sfumature
   ========================================================================== */
.azzurro {
  background: #009eee;
  background: -moz-linear-gradient(top, #009eee 0%, #00a2ef 16%, #00a1ef 45%, #0096ed 78%, #0088ea 100%);
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    color-stop(0%, #009eee),
    color-stop(16%, #00a2ef),
    color-stop(45%, #00a1ef),
    color-stop(78%, #0096ed),
    color-stop(100%, #0088ea)
  );
  background: -webkit-linear-gradient(top, #009eee 0%, #00a2ef 16%, #00a1ef 45%, #0096ed 78%, #0088ea 100%);
  background: -o-linear-gradient(top, #009eee 0%, #00a2ef 16%, #00a1ef 45%, #0096ed 78%, #0088ea 100%);
  background: -ms-linear-gradient(top, #009eee 0%, #00a2ef 16%, #00a1ef 45%, #0096ed 78%, #0088ea 100%);
  background: linear-gradient(top, #009eee 0%, #00a2ef 16%, #00a1ef 45%, #0096ed 78%, #0088ea 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#009eee', endColorstr='#0088ea',GradientType=0 );
}
.grigio {
  background: #f2f2f2;
  background: -moz-linear-gradient(top, #f2f2f2 0%, #f0f0f0 22%, #e5e5e5 47%, #d0d0d0 75%, #b4b4b3 100%);
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    color-stop(0%, #f2f2f2),
    color-stop(22%, #f0f0f0),
    color-stop(47%, #e5e5e5),
    color-stop(75%, #d0d0d0),
    color-stop(100%, #b4b4b3)
  );
  background: -webkit-linear-gradient(top, #f2f2f2 0%, #f0f0f0 22%, #e5e5e5 47%, #d0d0d0 75%, #b4b4b3 100%);
  background: -o-linear-gradient(top, #f2f2f2 0%, #f0f0f0 22%, #e5e5e5 47%, #d0d0d0 75%, #b4b4b3 100%);
  background: -ms-linear-gradient(top, #f2f2f2 0%, #f0f0f0 22%, #e5e5e5 47%, #d0d0d0 75%, #b4b4b3 100%);
  background: linear-gradient(top, #f2f2f2 0%, #f0f0f0 22%, #e5e5e5 47%, #d0d0d0 75%, #b4b4b3 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f2f2f2', endColorstr='#b4b4b3',GradientType=0 );
}
.arancione {
  background: #f39200;
  background: -moz-linear-gradient(top, #f39200 0%, #f49700 21%, #f39500 47%, #f28900 78%, #f07a00 100%);
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    color-stop(0%, #f39200),
    color-stop(21%, #f49700),
    color-stop(47%, #f39500),
    color-stop(78%, #f28900),
    color-stop(100%, #f07a00)
  );
  background: -webkit-linear-gradient(top, #f39200 0%, #f49700 21%, #f39500 47%, #f28900 78%, #f07a00 100%);
  background: -o-linear-gradient(top, #f39200 0%, #f49700 21%, #f39500 47%, #f28900 78%, #f07a00 100%);
  background: -ms-linear-gradient(top, #f39200 0%, #f49700 21%, #f39500 47%, #f28900 78%, #f07a00 100%);
  background: linear-gradient(top, #f39200 0%, #f49700 21%, #f39500 47%, #f28900 78%, #f07a00 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f39200', endColorstr='#f07a00',GradientType=0 );
}
.verde {
  background: #95c11e;
  background: -moz-linear-gradient(top, #95c11e 0%, #9ac41f 26%, #98c31f 46%, #8abb1b 82%, #7db317 100%);
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    color-stop(0%, #95c11e),
    color-stop(26%, #9ac41f),
    color-stop(46%, #98c31f),
    color-stop(82%, #8abb1b),
    color-stop(100%, #7db317)
  );
  background: -webkit-linear-gradient(top, #95c11e 0%, #9ac41f 26%, #98c31f 46%, #8abb1b 82%, #7db317 100%);
  background: -o-linear-gradient(top, #95c11e 0%, #9ac41f 26%, #98c31f 46%, #8abb1b 82%, #7db317 100%);
  background: -ms-linear-gradient(top, #95c11e 0%, #9ac41f 26%, #98c31f 46%, #8abb1b 82%, #7db317 100%);
  background: linear-gradient(top, #95c11e 0%, #9ac41f 26%, #98c31f 46%, #8abb1b 82%, #7db317 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#95c11e', endColorstr='#7db317',GradientType=0 );
}
.rosso {
  background: #e94d4d;
  background: -moz-linear-gradient(top, #e94d4d 0%, #ea5050 14%, #ea4f4f 47%, #e74747 77%, #e43b3b 100%);
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    color-stop(0%, #e94d4d),
    color-stop(14%, #ea5050),
    color-stop(47%, #ea4f4f),
    color-stop(77%, #e74747),
    color-stop(100%, #e43b3b)
  );
  background: -webkit-linear-gradient(top, #e94d4d 0%, #ea5050 14%, #ea4f4f 47%, #e74747 77%, #e43b3b 100%);
  background: -o-linear-gradient(top, #e94d4d 0%, #ea5050 14%, #ea4f4f 47%, #e74747 77%, #e43b3b 100%);
  background: -ms-linear-gradient(top, #e94d4d 0%, #ea5050 14%, #ea4f4f 47%, #e74747 77%, #e43b3b 100%);
  background: linear-gradient(top, #e94d4d 0%, #ea5050 14%, #ea4f4f 47%, #e74747 77%, #e43b3b 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e94d4d', endColorstr='#e43b3b',GradientType=0 );
}
.marrone {
  background: #7d4e24;
  background: -moz-linear-gradient(top, #7d4e24 0%, #835125 26%, #805025 47%, #734821 77%, #613c1b 100%);
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    color-stop(0%, #7d4e24),
    color-stop(26%, #835125),
    color-stop(47%, #805025),
    color-stop(77%, #734821),
    color-stop(100%, #613c1b)
  );
  background: -webkit-linear-gradient(top, #7d4e24 0%, #835125 26%, #805025 47%, #734821 77%, #613c1b 100%);
  background: -o-linear-gradient(top, #7d4e24 0%, #835125 26%, #805025 47%, #734821 77%, #613c1b 100%);
  background: -ms-linear-gradient(top, #7d4e24 0%, #835125 26%, #805025 47%, #734821 77%, #613c1b 100%);
  background: linear-gradient(top, #7d4e24 0%, #835125 26%, #805025 47%, #734821 77%, #613c1b 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7d4e24', endColorstr='#613c1b',GradientType=0 );
}
.viola {
  background: #662d91;
  background: -moz-linear-gradient(top, #662d91 0%, #6b2f96 29%, #682e93 51%, #5f2a89 75%, #4f2378 100%);
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    color-stop(0%, #662d91),
    color-stop(29%, #6b2f96),
    color-stop(51%, #682e93),
    color-stop(75%, #5f2a89),
    color-stop(100%, #4f2378)
  );
  background: -webkit-linear-gradient(top, #662d91 0%, #6b2f96 29%, #682e93 51%, #5f2a89 75%, #4f2378 100%);
  background: -o-linear-gradient(top, #662d91 0%, #6b2f96 29%, #682e93 51%, #5f2a89 75%, #4f2378 100%);
  background: -ms-linear-gradient(top, #662d91 0%, #6b2f96 29%, #682e93 51%, #5f2a89 75%, #4f2378 100%);
  background: linear-gradient(top, #662d91 0%, #6b2f96 29%, #682e93 51%, #5f2a89 75%, #4f2378 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#662d91', endColorstr='#4f2378',GradientType=0 );
}

/* Desktop 1280 in su
   ========================================================================== */
@media (min-width: 1200px) {
  .contenitore {
    width: 1140px;
  }
  .box.unquarto {
    text-align: center;
  }
  .box.unquarto img {
    left: 50%;
    margin-left: -97px;
  }
}

/* Tablet e Desktop
     ========================================================================== */
@media (min-width: 980px) {
  header img {
    top: 200px;
  }
  header .carica {
    top: 320px;
  }
}

/* Mobile in generale
     ========================================================================== */
@media (max-width: 979px) {
  #servizi:hover .box {
    opacity: 1 !important;
  }
  nav {
    border: 0 !important;
  }
  nav a:hover {
    background-color: #009eee !important;
  }
}

/* Tablet
     ========================================================================== */
@media (min-width: 768px) and (max-width: 979px) {
  body {
    padding-left: 20px;
    padding-right: 20px;
  }
  .contenitore {
    width: 100%;
  }
  .box img {
    max-width: 60%;
    max-height: 60%;
  }
  .box.unquarto {
    width: 100% !important;
    height: 100px !important;
  }
  .box.unquarto img {
    top: 20px !important;
  }
}

/* Smartphone portrait
     ========================================================================== */
@media (max-width: 800px) {
  header img {
    top: 100px;
  }
  header .carica {
    top: 220px;
  }
  .contenitore {
    padding-top: 60px;
    width: 100%;
  }
  nav {
    top: -60px !important;
    left: 0;
    width: 100%;
    height: 30px;
  }
  nav ul {
    width: 100%;
  }
  nav li {
    width: 50%;
    float: left;
  }
  nav li a {
    padding: 10px 0;
    text-align: center;
    box-shadow: inset 0 0 15px rgba(0, 0, 0, 0.46);
  }
  .box img {
    display: none;
  }
  .box.main,
  .box.secondari,
  .box.unquarto,
  .box.mini {
    width: 100% !important;
    height: 100px !important;
  }
  #servizi h2,
  #servizi h3,
  #servizi h4 {
    font-size: 36px;
    top: 20px;
  }
  #servizi p {
    bottom: 10px;
    font-size: 15px;
  }
}

#servizi,nav,footer{display:none}header img{position:absolute;left:50%;margin-left:-150px;transition:top ease 200ms}header .carica{margin-left:-18px}header{margin-bottom:30px;position:relative;height:95px}header,footer{text-align:center}nav{position:absolute;right:0;top:0;height:100%;border-right:1px solid #009eee}nav li{list-style:none;margin:0}nav a{display:block;color:#fff;text-decoration:none;background-color:#009eee;text-align:left;margin-bottom:3px;padding:4px 12px;-webkit-transition:all .3s ease}nav li:hover{cursor:pointer}nav a:hover{color:#fff;background-color:#333}#about.aperto{height:238px}.info{padding:0;background-color:#fafafa;box-shadow:inset 0px 0px 15px rgba(0,0,0,.38);overflow:hidden;margin-bottom:20px;transition:height ease 250ms;height:0}.info.aperto{padding:15px}.info iframe{margin-top:10px;border:1px solid #999}.info h2{display:none}.info p{margin-bottom:10px}.info p:last-child{margin-bottom:0}footer{padding:40px 0}#corpo h2,#corpo h3{margin-bottom:10px}#corpo h2{font-size:32px}#corpo h3{font-size:26px}#servizi:after{content:" ";display:block;height:0;clear:both;visibility:hidden}#servizi:hover .box{opacity:.5}#servizi .box:hover{opacity:1}.box{float:left;font-size:20px;line-height:30px;-webkit-transition:all .5s ease}.box:hover{cursor:pointer}.box a{color:#fff;text-decoration:none;display:block;width:100%;height:100%;position:relative}.box.grigio a{color:#555}.box h2,.box h3,.box h4,.box p,.box img{position:absolute}.box h2,.box h3,.box h4{text-transform:uppercase;font-weight:400;top:65px;left:30px}.box p{left:30px;bottom:45px}.box img{right:30px;top:20px}.box.main h2{font-size:85px}.box.main p{font-size:30px}.box.secondari h2{font-size:60px}.box.unquarto h3{top:15px;font-size:40px}.box.unquarto p{font-size:15px;bottom:120px}.box.unquarto img{right:20px;top:90px}.box.mini h4{font-size:36px;top:20px}.box.mini p{bottom:10px;font-size:15px}.box.mini img{display:none}.box.main,.box.secondari,.box.unquarto{height:216px}.box.mini{height:108px}.box.main{width:100%}.box.secondari{width:50%}.box.unquarto,.box.mini{width:25%}

/*# sourceMappingURL=main.css.map*/